html {
    background-color: antiquewhite;
}
ul, ol {
    list-style: none;
}

.flex_div {
    display: flex;
    margin-top: 10px
}

main {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#crypt_form {
    min-width: 500px;
}

#crypt_form .crypt_form_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#crypt_form .crypt_form_input input {
    min-width: 330px;
}
#crypt_form .crypt_form_input select {
    min-width: 200px;
}
#crypt_form_submit {
    margin-left: auto;
}
